@model Shopping.Models.Usuario

<link href="~/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/component.css" rel="stylesheet" />
<link href="~/css/flexslider.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<script src="~/js/bootstrap-3.1.1.min.js"></script>
<script src="~/js/cbpViewModeSwitch.js"></script>
<script src="~/js/classie.js"></script>
<script src="~/js/imagezoom.js"></script>
<script src="~/js/jquery.flexisel.js"></script>
<script src="~/js/jquery.flexslider.js"></script>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/responsive-tabs.js"></script>
<script src="~/js/responsiveslides.min.js"></script>
<script src="~/js/simpleCart.min.js"></script>

<!-- header-section-starts -->
<!-- header-section-ends -->

@Html.Partial("~/Views/Shared/_SubMenu.cshtml")

<!-- content-section-starts -->



<div class="content">
    <div class="container">
        <div class="login-page">
            <div class="dreamcrub">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a href="index.cshtml" title="Go to Home Page">Home</a>&nbsp;
                        <span>&gt;</span>
                    </li>
                    <li class="women">
                        Login
                    </li>
                </ul>
                <ul class="previous">
                    <li><a href="index.html">Back to Previous Page</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="account_grid">
                <div class="col-md-6 login-left wow fadeInLeft" data-wow-delay="0.4s">
                    <h2>NEW CUSTOMERS</h2>
                    <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                    <a class="acount-btn" href="register.html">Create an Account</a>
                </div>
                <div class="col-md-6 login-right wow fadeInRight" data-wow-delay="0.4s">
                    <h3>REGISTERED CUSTOMERS</h3>
                    <p>If you have an account with us, please log in.</p>
                    @using (Html.BeginForm())
                    {
                        <div>
                            <span>Email Address<label>*</label></span>

                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                        </div>
                            <div>
                                <span>Password<label>*</label></span>
                                @Html.TextBoxFor(m => m.Contraseña, new { @class = "form-control", @type = "password" })
                            </div>
                            <a class="forgot" href="#">Forgot Your Password?</a>
                            <input type="submit" value="Login">
                    }
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="news-letter">
        <div class="container">
            <div class="join">
                <h6>JOIN OUR MAILING LIST</h6>
                <div class="sub-left-right">
                    <form>
                        <input type="text" value="Enter Your Email Here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your Email Here';}" />
                        <input type="submit" value="SUBSCRIBE" />
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!-- end-section-starts-->

@Html.Partial("~/Views/Shared/_EndWeb.cshtml")

<!-- end-section-ends -->